---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@consts";
import Image from "astro/components/Image.astro";
---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          About
        </div>
        <section class="animate not-prose flex flex-col gap-4 text-justify">
          <p class="text-justify">With a background in computer science, focusing on computer vision and machine learning applied to robotics and agronomy, my previous work
            involved developing tools for object detection, segmentation, and 3D reconstruction to support applications such as autonomous harvesting,
            plant phenotyping, and yield prediction. I am now applying these skills to the field of space weather, where I focus on the segmentation, detec-
            tion, and 3D modelling of coronal mass ejections (CMEs). My core interest lies in understanding the shape, structure, and propagation of complex
            objects—whether they are fruits, plants, or solar eruptions—in order to support better modelling, forecasting, and decision-making across disci-
            plines. I aim to develop tools and models that help robots and other researchers across domains improve their understanding, predictions, and
            operational outcomes.
          </p>      
          
        </section>

       
      </div>
    </aside>
  </Container>
</Layout>
